<footer class="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    	</div>
      	<div class="footer-center">
      		<a href="http://hexo.io/" target="_blank">Hexo</a>  Theme <a href="https://github.com/Johnsonliang/hexo-theme-ewe" target="_blank">Ewe</a>
      	</div>
    </div>
  </div>
</footer>